@import "../../../styles/utils/variables";

.Slider {
    border: 1px solid $colorTwo;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Slide {
    position: relative;
    border: 1px solid $colorTwo;
    min-width: 100%;
    height: 80%;
    transition: 0.3s;
    overflow: hidden;
}

.Imgs {
    width: 100%;
    vertical-align: center;
}

.Buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
}

.GoLeft{
    @extend .Buttons;
    left: 0;
}

.GoRight{
    @extend .Buttons;
    right: 0;
}