@import "../../../styles/utils/variables";

.Toolbar {
    height: 56 px;
    width: 100%;
    position: relative;
    top: 8px;
    left: 0;
    background-color: $colorTwo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
}

.Toolbar_Logo {
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: $colorOne;
    height: 56px;;
}